.Todo {
  font-size: larger;
  background-color: white;
  width: 30%;
  padding: 5px;
  border-radius: 10px;
  margin: auto;
  min-width: fit-content;
  display: flex;
}

.Todo img {
  width: 30%;
}

.Todo h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
}

.Todo div{
  width: 500px;
}

input,
.boton {
  /* Por alguna razon button no aplica a todos los botones... idk */
  height: fit-content;
  border-radius: 10px;
}

.texto {
  text-align: 'center';
  padding-top: '10px';

}

.codigo img{
  width: 185px;
  text-align: 'center';
}



.loginManual{
  display: block;
}